{% extends "userhome.html" %}
{% load static %}
{% block slider %}


<div class="container my-5 col-md-10">
    <style>
        body {
            background-image: url("{% static 'image/photo5.jpg'%}");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        form {
            padding-left: 10%;
            border: solid;
            border-radius: 12px;
            border: 8px;

        }

        #anchor {
            text-decoration: none;
            color: black;
            text-transform: capitalize;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: normal;
        }

        #anchor:hover {
            font-size: larger;
            background-color: cornsilk;
        }
    </style>

    <script>

        function fetchSubCategory(c) {
            var xhttp = new XMLHttpRequest()
            xhttp.open("GET", "/user/fetchSubCategoryAJAX/?cnm=" + c, true)
            xhttp.send()


            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    document.getElementById("response").innerHTML = xhttp.responseText
                }
            }
        }
    </script>
 
    <h6 style="color: blue;">{{output}}</h6>
    <div class="row  g-3">
        <div class="col-md-6">
            <label><a href="/user/viewproductuser/" id="anchor">View & manage product</a></label>
        </div>
    </div>

    <div class="container mr-4">
        <form class="row g-3" method="POST" action="/user/addproduct/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                <label for="formFile" class="form-label" style="font-size:larger;"><b>Add Product Here>> </b></label>

            </div>
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="inputEmail4" placeholder="Enter Product Title"
                    required>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Category</label>
                <select id="inputState" name="cat" class="form-select" onchange="fetchSubCategory(this.value)" required>
                    <option selected>Choose...</option>
                    {% for row in clist %}
                    <option> {{row.catnm}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6">
                <label for="inputState" class="form-label">SubCategory</label>
                <select id="response" name="subcat" class="form-select" required>
                    <option>Choose...</option>
                </select>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" id="inputAddress"
                    placeholder="Enter description of Product">
            </div>
            <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Base Price</label>
                <input type="number" class="form-control" name="bprice" id="inputEmail4" required
                    placeholder="Enter Base Price of Product">
            </div>
            <div class="col-md-12">
                <label for="formFile" class="form-label" style="font-size:larger;"><b>Product Images</b></label>

            </div>
            <div class="col-md-6">
                <label for="formFile" class="form-label">Choose First Image</label>
                <input class="form-control" type="file" required name="file1" id="formFile">
            </div>
            <div class="col-md-6">
                <label for="formFile" class="form-label">Choose Second Image</label>
                <input class="form-control" type="file" name="file2" id="formFile">
            </div>
            <div class="col-md-6">
                <label for="formFile" class="form-label">Choose Third Image</label>
                <input class="form-control" type="file" name="file3" id="formFile">
            </div>
            <div class="col-md-6">
                <label for="formFile" class="form-label">Choose Fourth Image</label>
                <input class="form-control" type="file" name="file4" id="formFile">
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <center>
                    <button type="submit" class="btn btn-primary col-md-5"> Add Product</button>
                </center>
            </div>

        </form>
    </div>
    <br>

    {% endblock %}
    {% block card %}
    {% endblock %}