{% extends "userhome.html" %}
{% load static %}
{% block slider %}

<style>
    body {
        /* background-image: url("{% static 'image/photo3.jpg'%}"); */
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  
    }
</style>
<center>
    <h1>View & Manage Product Here!!!</h1>

    <table class="table table-hover">
        <thead class="thead-Warning">
            <tr>
                <th>Bidding ID </th>
                <th>Product ID </th>
                <th>User ID</th>
                <th>Bid Amount</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody class="thead-dark">
            <tr><td colspan="5"><hr></td></tr>
            {% for row in bidDetail %}
            <tr>
                <td>{{row.bid}}</td>
                <td>{{row.pid}}</td>
                <td>{{row.uid}}</td>
                <td>{{row.bidamount}}</td>
                <td>{{row.info}}</td>
            </tr>
            <tr><td colspan="5"><hr></td></tr> 
            {% endfor %}
        </tbody>
    </table>

</center>
{% endblock %}
{% block card %}
{% endblock %}