{% extends 'userhome.html' %}


{% block slider %}{% endblock %}
{% block card %}

<style>
    .header {
        padding: 10px;
        text-align: center;
        /* background: 	#7FFF00; */
        color: #fa3838;
        font-size: 20px;
        }
        </style>
<div class="container-flued">
    <center>
        <div class="header">
            <br><br><br><br>
            <h1 style="font-size: 80px;">Payment failed please try again.....</h1>
            <p><a href="/user/viewproductuser/">Click to verify product again</a></p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </center>
</div>
 
{% endblock %}