{% extends "base.html" %}
{% load static %}
{% block manu %}{% endblock %}


{% block card %}

<style>
    body {
        background-image: url("{% static 'image/photo5.jpg'%}");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .dropdown-item:hover {
        font-size: 20px;
        text-transform: uppercase;
        text-shadow: yellowgreen;
    }
    .dropdown-item:hover {background: none;
    color: rgb(0, 0, 0);}

    form {
        border-style: none;
        border-radius: 4%;
    }
</style>
<font color="blue">{{output}}</font>
<center>
    <h1>Log In &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
</center>
<form style="margin: auto;" method="POST" action="/login/">
    {% csrf_token %}
    <div class="row">
        <div class="row mb-3 my-5 col-md-7 gap-1">
            <label for="inputEmail3" class="col-sm-2 col-form-label"> Username </label>
            <div class="col-md-7">
                <input type="email" class="form-control" name="username" id="inputEmail3">
            </div>
        </div>
        <div class="row mb-4 col-md-7 gap-1 ">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-md-7">
                <input type="password" class="form-control" name="password" id="inputPassword3">
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-5 offset-sm-2"> -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
            Remember the password
        </label><br>
    </div>
    <!--  </div>
    </div> -->
    <button style="padding: 0.9%;" type="submit" class="btn btn-primary col-md-5">Sign in</button>
    <a class="dropdown-item" href="/register/">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
</form>

<div class="dropdown-divider"></div>





{% endblock %}