{% extends "base.html" %} {% block manu %} {% endblock %} {% block card %}

<style>
    .card-deck {
        min-height: 470px;
        min-width: 820px;
        
    }
    
    .card {
        min-height: 300px;
        width: 270px;
        float: left;
    }
   
</style>


<h1>Products :-</h1>

<!-- Container starts -->
<div class="container my-5">

    <!-- row block starts -->
    <div class="row">

        <!-- card block starts -->
        <div class="card-deck col-sm-9  col-md-9 col-md-offset-9 main">

            {% for row in uplist %}
            <a href="#">
                <div class="card">
                    
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{media_url}}{{row.file1}}" height="260" width="250"  class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{{media_url}}{{row.file2}}" height="260" width="250"  class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{{media_url}}{{row.file3}}" height="260" width="250"  class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="{{media_url}}{{row.file4}}" height="260   " width="250"  class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>

                   
                    <div class="card-body">
                        <h5 class="card-title">{{row.title}}</h5>
                    </div>
                   
                </div>
            </a>
            <br>
            {% endfor %}
        </div>
        

        <!-- Row block ends -->
    </div>
    <!-- container ends -->
</div>

{% endblock %}